<section id="intro_section" class="intro_section">
    <div class="container">
        <div class="p-3">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="intro_text col-12 col-md-6 order-1 order-md-0">
                    <h1 class="primary">Hi! I'm Jared</h1>
                    <h6 class="secondary">
                        I'm a proficient <span class="text_gradient">front-end</span> web designer with over <span class="text_gradient">5 years experience.</span>
                        I have a passion for designing beautiful and interactive interfaces for all applications!
                    </h6>
                </div>
                <div class="intro_icon col-12 col-md-6 order-0 order-md-1 mb-3">
                    <img class="img-fluid" src="assets/intro.svg" />
                </div>
            </div>
        </div>
    </div>
</section>
