<section id="skills_section" class="skills_section">
    <h2 class="heading text-center">My Skills</h2>
    <p class="text-center sub_heading mb-5">I am well versed in the following technologies</p>
    <div class="container">
        <div class="row">
            <div *ngFor="let skill of skills" class="col-6 col-md-3">
                <div class="skill">
                    <div class="icon">
                        <i [ngClass]="skill.icon" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        {{ skill.value }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
