<section id="get_in_touch" class="get_in_touch">
    <h2 class="heading text-center mb-5">Get In Touch</h2>
    <div class="container">
        <ng-container *ngIf="!loading && message !== ''">
            <div class="form_notification" [ngClass]="{'success': is_ok, 'error': !is_ok}">
                {{ message }}
            </div>
        </ng-container>
        <form [formGroup]="form" (ngSubmit)="submitMessage()">
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                        <input formControlName="name" type="text" class="form-control" id="floating_name" required />
                        <label for="floating_name">Name</label>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                        <input formControlName="email" type="email" class="form-control" id="floating_email" required />
                        <label for="floating_email">Email</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea formControlName="message" class="form-control textarea" id="floating_textarea" required></textarea>
                        <label for="floating_textarea">How can I help you?</label>
                    </div>
                </div>
            </div>
            <button class="submit_btn" [disabled]="!form.valid">
                <ng-container *ngIf="!loading; else loader">
                    Send Message
                </ng-container>
                <ng-template #loader>
                    <div class="custom_spinner spinner-border text-white" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </ng-template>
            </button>
        </form>
    </div>
</section>
